.card-product {
  margin-left: 24px;
  background-color: #F3FBFC;
  justify-content: start;
}

.inner-card {
  overflow: hidden;
  display: flex;
  align-items: start;
  border-top: 1px #EBEBEB solid;
  padding: 16px;
  flex-grow: 1;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  background-color: #fdfdfd;
  margin: 10px;
  opacity: 1;
}

.inner-card:hover {
  opacity: .84;
}

.inner-card img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.card-product-infos h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding-left: 16px;
}

.garden-link, .garden-link:hover {
  text-decoration: none;
  color: inherit;
}

#garden-type {
  padding-bottom: 12px;
}

#garden-name {
  padding-bottom: 12px;
}

#garden-price {
  margin-right: -20px;
}
