.page-item.active .page-link {
  background-color: #5B9681;
  border-color: #5B9681;
}

.page-link {
  color: #5B9681;
  border-color: #5B9681;
}

.page-item a:hover {
  background-color: white;
  border-color: #5B9681;
  color: #5B9681;
  text-decoration: none;
}

.pagination {
  padding-left: 17px;
}
