.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: fixed;
  top: 0;
}
