.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: fixed;
  top: 0;
}

.map-style {
  border-radius: 16px;
  background-color: #c3edea;
}

.map-text-style {
  font-size: 16px;
}
