.navbar-lewagon {
  justify-content: space-between;
  background: #fdfdfd;
  padding: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h2 {
  margin: 0;
}


.navbar-shadow {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

